@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$CustomTheme: mat.define-theme();
@include mat.core();

.custom-theme {
  @include mat.all-component-themes($CustomTheme);
  //override the button styles
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroke-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

.container {
  @apply mx-auto;
}
.text-primary {
  color: #7d00fa;
}
button.match-input-height {
  height: var(--mat-fotm-field-container-height) !important;
}
.mdc-notched-outline__notch {
  border-right-style: none !important;
}
